<div >
	<div class="modal-header">
	  <h3 class="modal-title">Nueva Resolución</h3>
	</div>
	<div class="modal-body">
	  <form role="form" name="formres" enctype="multipart/form-data">						

	  	<div class="form-group" ng-class="{'has-error': hasError}">
				<label>N. de Resolución</label>
				<input required class="form-control" rows="3" ng-model="nresolution" name="nresolution">
				<div ng-messages="formres.nresolution.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Observaciones</label>
				<textarea required class="form-control" rows="3" ng-model="description" name="description"></textarea>
				<div ng-messages="formres.description.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Tipo de Resolución</label>
				<select required class="form-control" ng-model="tresolution" name="tresolution">
					<option value="">-- Seleccionar --</option>
					<option ng-repeat="tp in typeresolutions" value="{{tp.id}}">{{tp.description}}</option>
				</select>
				<div ng-messages="formres.tresolution.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Fecha de Resolución</label>
				<div class="input-group date">
				  <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDP()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Carga de archivo</label>
				<input class="btn" type="file" ngf-select ng-model="fileres" name="file"    
             accept="application/pdf" ngf-max-size="20MB" required
             ngf-model-invalid="errorFile"/>
        <div ng-messages="formres.file.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>
		</form>
		<div ng-if="loading" class="alert alert-warning" role="alert">Cargando datos...</div>
		<div ng-if="danger" class="alert alert-danger" role="alert">Error al tratar de guardar los datos</div>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary" type="button" ng-click="Add(formres)" ng-disabled="loading">Guardar</button>
	  <button class="btn btn-warning" type="button" ng-click="Cancel()" ng-disabled="loading">Cerrar</button>
	</div>
</div>