<div ng-controller="ReportsController as reports" class="row panel panel-warning">
   <div class = "panel-heading menu-gra">
      <h1 class = "panel-title">Reportes de Alumnos</h1>
   </div>
   
   <div class = "panel-body">
	   	<div class="row">
	   		<div role="form" name="reportForm" novalidate>
		   		<div class="col-xs-5">
			   		<div>
			   			<label>Carrera</label>
							<select required class="form-control form-control-select-fix" ng-model="reports.data.selectedcareer" name="careers">
								<option value="">-- Seleccionar --</option>
								<option ng-repeat="element in reports.careers" value="{{element.id}}">{{element.description}}</option>
							</select>
			   		</div>
			   		<br>
						<label>Tipo de Resolucion</label>
						<select class="form-control form-control-select-fix" ng-model="reports.data.selecttresolution" name="tresolutions">
							<option value="">-- Seleccionar --</option>
							<option ng-repeat="element in reports.typeresolutions" value="{{element.id}}">{{element.description}}</option>
						</select>
					</div>
					<div class="col-xs-2">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="reports.enabledStudent" ng-true-value="true" ng-false-value="false"/>Alumnos Habilitados
							</label>
						</div>
			    </div>
					<div class="col-xs-4">
						<button class="btn-sm btn" type="button" ng-click="reports.Search()">Buscar</button>
						<button class="btn-sm btn grad-red" type="button" ng-click="reports.GeneratePdf()">Generar PDF</button>
						<button class="btn-sm btn grad-green" type="button" ng-click="reports.GenerateExcel()">Generar EXCEL</button>
					</div>
				</div>
	   	</div>
	   	<br>
	   	<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in reports.alerts" type="danger" close="reports.closeAlert($index)">{{alert.msg}}</uib-alert>
	   	<br>
	   	<div class="row">
	   		<div class="col-xs-3">
	   			Total: {{reports.results.length}}
	   		</div>
	   	</div>
	   	<div id="exportable">
				<table class="table table-condensed table-hover">
			    <thead>
			      <tr>
			      	<th>#</th>
			        <th>Apellido</th>
			        <th>Nombre</th>
			        <th>Expediente</th>
			        <th ng-if="reports.data.selectedcareer=='all'">Carrera</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="re in reports.results">
			      	<td>{{re.position}}</td>
			        <td>{{re.lastname}}</td>
			        <td>{{re.name}}</td>
			        <td>{{re.expedient}}</td>
			        <td ng-if="reports.data.selectedcareer=='all'">{{re.description}}</td>
			      </tr>
			      <tr ng-if="reports.results.length===0">
			        <td ng-if="reports.data.selectedcareer!='all'" colspan="4">No posee registros para mostrar</td>
			        <td ng-if="reports.data.selectedcareer=='all'" colspan="5">No posee registros para mostrar</td>
			      </tr>
			    </tbody>
			  </table>
		  </div>
   </div>
</div>