<div ng-controller="ProfileController as profileController" class="row panel panel-warning">
   <div class = "panel-heading">
      <h1 class = "panel-title">Perfiles</h1>
   </div>
   
   <div class = "panel-body">
      <table class="table table-condensed table-hover">
		    <thead>
		      <tr>
		        <th>Código</th>
		        <th>Descripción</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="pr in profileController.profiles">
		        <td>{{pr.cod}}</td>
		        <td>{{pr.description}}</td>
		      </tr>
		    </tbody>
		  </table>
   </div>
</div>