<div ng-controller="SecretaryshipResConstroller as secretaryshipRes" class="row panel panel-warning">
   <div class = "panel-heading menu-gra">
      <h1 class = "panel-title">Resoluciones - Secretaría</h1>
   </div>
   
   <div class = "panel-body">
	   	<div>
				<button type="button" class="add-button btn grad-green btn-xm" ng-click="secretaryshipRes.OpenModal('add')">Agregar Resolución</button>
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>						
				<input class="form-control" placeholder="Búsqueda Personalizada" ng-model="secretaryshipRes.filtered">
			</div>
			<table class="table table-condensed table-hover">
		    <thead>
		      <tr>
		        <th>N. Resolución</th>
		        <th>T. Resolución</th>
		        <th>Fecha</th>
		        <th>Observaciones</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="res in secretaryshipRes.resolutions | filter:secretaryshipRes.filtered">
		        <td>{{res.nresolution}}</td>
		        <td>{{res.tresolution.description}}</td>
		        <td>{{res.dateresolution}}</td>
		        <td>{{res.description}}</td>
		        <td>
		        	<div class="btn-group" uib-dropdown>
					      <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green" uib-dropdown-toggle>
					      Acciones<span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a target="_self" href="api/download/{{res.filepath}}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>Descarga</a></li>
					        <li class="divider"></li>
					        <li role="menuitem"><a ng-click="secretaryshipRes.OpenModal('drop', res.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
					      </ul>
					    </div>
		        </td>
		      </tr>
		      <tr ng-if="secretaryshipRes.resolutions.length===0">
		        <td colspan="4">No posee Resoluciones cargadas</td>
		      </tr>
		    </tbody>
		  </table>
   </div>
</div>