<div class = "panel-heading menu-gra">
  <h1 class = "panel-title">Lista de Carreras</h1>
</div>

<div class = "panel-body">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Buscar</span>           
    <input class="form-control" placeholder="Búsqueda Personalizada" ng-model="careerResController.filteredStudent">
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="st in careerResController.careers | filter:careerResController.filteredStudent">
        <td>{{st.description}}</td>
        <td>
          <button type="button" class="btn grad-green btn-xs" ng-click="careerResController.GetResolution(st)">Ver Resoluciones</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>