<div class = "panel-heading menu-gra">
  <h2 class = "panel-title">Resoluciones - Carrera: {{careerResController.currentCareer.description}}</h2>
</div>

<div class = "panel-body">
  <div>
    <button ng-if="!careerResController.isDirect" type="button" class="add-button btn grad-green btn-xm" ng-click="careerResController.OpenModal('add')">Agregar Resolución</button>
    <button ng-if="!careerResController.isDirect" type="button" class="add-button btn btn-xm grad-red" ng-click="careerResController.Notification()">Notificar a Usuarios</button>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Buscar</span>           
    <input class="form-control" placeholder="Búsqueda Personalizada" ng-model="careerResController.filtered">
  </div>
  <br>
  <uib-alert dismiss-on-timeout="10000" ng-repeat="alert in careerResController.alerts" type="{{alert.type}}" close="careerResController.closeAlert($index)">{{alert.msg}}</uib-alert>
  <br>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>N. Resolución</th>
        <th>T. Resolución</th>
        <th>Fecha</th>
        <th>Observaciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="res in careerResController.resolutions | filter:careerResController.filtered | orderBy:'-resolution.dateresolution'">
        <td>{{res.resolution.nresolution}}</td>
        <td>{{res.resolution.tresolution.description}}</td>
        <td>{{res.resolution.dateresolution}}</td>
        <td>{{res.resolution.description}}</td>
        <td>
          <div ng-if="!careerResController.isDirect" class="btn-group" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green" uib-dropdown-toggle>
            Acciones<span class="caret"></span>
            </button>
            <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a target="_self" href="api/download/{{res.resolution.filepath}}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>Descarga</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a ng-click="careerResController.OpenModal('drop', res.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
            </ul>
          </div>
          <a ng-if="careerResController.isDirect" target="_self" href="api/download/{{res.resolution.filepath}}" class="btn grad-green btn-xs">Descarga</a>
        </td>
      </tr>
      <tr ng-if="careerResController.resolutions.length===0">
        <td colspan="4">No posee Resoluciones cargadas</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <button type="button" class="btn btn-xm" ng-click="careerResController.GoBack('main')">
Volver</button>
  </div>
</div>