<div ng-controller="HomeController as home">	
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <div>
	      	<div class="menu-grad-home">
	      		<div class="image-home col-md-8">
	      			<a class="btn" ng-click="home.ChangePartial('main')" data-toggle="tooltip" data-placement="bottom" title="Inicio"><img src="frontend/app/images/band.png"/></a><strong>SAR</strong> Sistema de Autogestión de Resoluciones
	      		</div>
	      	</div>
	      </div>
	      <ul class="nav nav-pills">
				  <li ng-class="{'active':(home.currentPartial==='main')}"><a ng-click="home.ChangePartial('main')" class="btn">Inicio</a></li>
				  <li ng-if="home.currentPartial!=='resetPass'" ng-class="{'grad-red':(home.currentPartial==='secret')}"><a ng-click="home.ChangePartial('secret')" class="btn">Posgrado</a></li>
				  <li ng-if="home.currentPartial!=='resetPass'" ng-class="{'grad-green':(home.currentPartial==='student')}"><a ng-click="home.ChangePartial('student')" class="btn">Alumnos</a></li>
				  <li ng-class="{'active':(home.currentPartial==='help')}" ng-if="home.currentPartial!=='resetPass'"><a ng-click="home.ChangePartial('help')" class="btn">Ayuda</a></li>
				</ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	

	<div ng-switch="home.currentPartial">
		<div ng-switch-when="main">
	    <div ng-include src="'frontend/app/views/home/partial/main.html'"></div>
	  </div>
		<div ng-switch-when="secret">
	    <div ng-include src="'frontend/app/views/home/partial/secret.html'"></div>
	  </div>
		<div ng-switch-when="student">
	    <div ng-include src="'frontend/app/views/home/partial/student.html'"></div>
	  </div>
	  <div ng-switch-when="resetPass">
	    <div ng-include src="'frontend/app/views/home/partial/resetPass.html'"></div>
	  </div>
	  <div ng-switch-when="forgotPass">
	    <div ng-include src="'frontend/app/views/home/partial/forgotPassword.html'"></div>
	  </div>
	  <div ng-switch-when="help">
	    <div ng-include src="'frontend/app/views/home/partial/help.html'"></div>
	  </div>
	</div>
</div>

