<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>SAR - Sistema de Autogestión de Resoluciones</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <link rel="stylesheet" href="styles/framework/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/framework/datepicker.css">
    <link rel="stylesheet" href="styles/framework/datepicker3.css">
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="../node_modules/underscore/underscore-min.js"></script>
    <script src="js/framework/ui-bootstrap-custom-1.2.4.min.js"></script>
    <script src="js/framework/ui-bootstrap-custom-tpls-1.2.4.min.js"></script>

    <script src="js/framework/lumino.glyphs.js"></script>
    <script src="js/framework/jquery-1.11.1.min.js"></script>
    <script src="js/framework/bootstrap.min.js"></script>
    <script src="js/framework/bootstrap-datepicker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/app.js"></script>
    <script src="scripts/config/Constant.js"></script>
    <!--Service -->
    <script src="scripts/service/SessionInjectorService.js"></script>
    <!-- Resource -->
    <script src="scripts/resource/ProfileResource.js"></script>
    <script src="scripts/resource/CareerResource.js"></script>
    <script src="scripts/resource/TypeResolutionResource.js"></script>
    <script src="scripts/resource/SecUserResource.js"></script>
    <script src="scripts/resource/CareerUserResource.js"></script>
    <script src="scripts/resource/StudUserResource.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/login/LoginController.js"></script>
    <script src="scripts/controllers/sidebar/SidebarController.js"></script>
    <script src="scripts/controllers/home/HomeController.js"></script>
    <script src="scripts/controllers/message/DeleteConfirmationController.js"></script>
    <script src="scripts/controllers/students/StudentsController.js"></script>
    <script src="scripts/controllers/students/StudentsResController.js"></script>
    <script src="scripts/controllers/students/ModalAddStudentController.js"></script>
    <script src="scripts/controllers/students/ModalAddResolutionController.js"></script>
    <script src="scripts/controllers/students/ModalAddResolutionController.js"></script>
    <script src="scripts/controllers/resolutions/ConfResolutionController.js"></script>
    <script src="scripts/controllers/resolutions/ModalAddTypeResolutionController.js"></script>
    <script src="scripts/controllers/profiles-conf/ProfileController.js"></script>
    <script src="scripts/controllers/careers-conf/CareerController.js"></script>
    <script src="scripts/controllers/careers-conf/ModalCareerController.js"></script>
    <script src="scripts/controllers/secretaryship-user/SecretaryshipController.js"></script>
    <script src="scripts/controllers/secretaryship-user/ModalSecretaryshipController.js"></script>
    <script src="scripts/controllers/careers-user/CareerUserController.js"></script>
    <script src="scripts/controllers/careers-user/ModalCareerUserController.js"></script>
    <script src="scripts/controllers/secretaryship-res/SecretaryshipResConstroller.js"></script>
    

  </head>
  <body ng-app="psApp" >
    <div ng-controller="SidebarController as sidebarController">
        <div ng-include src="'views/login/login.html'" ng-if="!sidebarController.IsLogin()"></div>
        <div ng-include src="'views/sidebar/sidebar.html'" ng-if="sidebarController.IsLogin()"></div>
    </div>
</body>
</html>
