<div ng-controller="StudentsResController as studentsResController">
	<div class="row">
		<div class="col-lg-12">
			<div ng-switch="studentsResController.page">
				<div ng-switch-when="main">
					<div class="row panel panel-warning" ng-include="'frontend/app/views/student-res/partial/list.html'"></div>
				</div>
				<div ng-switch-when="resolution">
					<div class="row panel panel-warning" ng-include="'frontend/app/views/student-res/partial/resolution.html'"></div>
				</div>
			</div>
		</div>
	</div><!--/.row-->	
</div>