<div class="row" ng-controller="LoginController as loginController">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">Log in</div>
			<div class="panel-body">
				<form name="loginForm" role="form">
					<fieldset>
						<div ng-class="{'has-error': loginController.hasError}" class="form-group">
							<input required class="form-control" placeholder="DNI" name="dni" type="text" autofocus="" ng-model="loginController.dni">
						</div>
						<div ng-class="{'has-error': loginController.hasError}" class="form-group">
							<input required class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="loginController.password">
						</div>
						<div class="alert alert-danger" role="alert">{{loginController.error}}</div>
						<button class="btn btn-primary" ng-click="loginController.Login(loginForm)">Login</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div><!-- /.col-->
	</div><!-- /.row -->