<div >
	<div class="modal-header">
	  <h3 class="modal-title">{{title}} Alumno</h3>
	</div>
	<div class="modal-body modal-body-fix">
	  <form role="form" name="userForm" novalidate>
	  	<div class="col-md-6">
	  		<div class="form-group" ng-class="{'has-error': hasError}">
					<label>N. Expediente</label>
					<input type="text" class="form-control" ng-model="expedient" name="expedient" required>
					<div ng-messages="userForm.expedient.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>DNI</label>
					<input type="text" class="form-control" ng-model="dni" name="dni" required>
					<div ng-messages="userForm.dni.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Nombre</label>
					<input class="form-control" ng-model="name" name="name" required>
					<div ng-messages="userForm.name.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>
												
				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Apellido</label>
					<input type="text" class="form-control" ng-model="lastname" name="lastname" required>
					<div ng-messages="userForm.lastname.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Email</label>
					<input type="email" class="form-control" ng-model="email" name="email" required>
					<div ng-messages="userForm.email.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
				    <div ng-message="email">Ingrese un email válido.</div>
					</div>
				</div>
	  	</div>

	  	<div class="col-md-6">

				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Domicilio</label>
					<input type="text" class="form-control" ng-model="address" name="address">
				</div>

				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Teléfono</label>
					<input type="text" class="form-control" ng-model="phone" name="phone">
				</div>

				<div ng-hide="true" class="form-group">
					<label>Foto</label>
					<input type="file">
				</div>
	  		<div class="form-group" ng-class="{'has-error': hasError}" ng-repeat="uc in usercareers">				
					<label>Carrera</label>
					<select required class="form-control form-control-select-fix" ng-model="uc.id" name="selectcareers">
						<option value="">-- Seleccionar --</option>
						<option ng-repeat="cr in careers" value="{{cr.id}}">{{cr.description}}</option>
					</select>
					<button class="btn btn-primary btn-xs" type="button" ng-click="AddCareer()">+</button>
					<button ng-if="usercareers.length > 1" class="btn btn-danger btn-xs" type="button" ng-click="DeleteCareer($index)">-</button>
					<div ng-messages="userForm.selectcareers.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': hasError}" ng-repeat="uc in arraySelectedProfiles">
					<label>Perfil</label><br>
					<select ng-disabled="(uc.cod==='GR_STUDS')&& action!='edit'" class="form-control form-control-select-fix" ng-model="uc.cod" name="select">
						<option value="">-- Seleccionar --</option>
						<option ng-repeat="pr in profiles" value="{{pr.cod}}">{{pr.description}}</option>
					</select>
					<button class="btn btn-primary btn-xs" type="button" ng-click="AddProfile()">+</button>
					<button ng-if="arraySelectedProfiles.length > 1" class="btn btn-danger btn-xs" type="button" ng-click="DeleteProfile($index)">-</button>
				</div>
	  	</div>
		</form>

	</div>
	<div class="col-md-12">
		<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<div class="modal-footer">
	  <br>
	  <button class="btn btn-primary" type="button" ng-click="Add(userForm)">Guardar</button>
	  <button class="btn btn-warning" type="button" ng-click="Cancel()">Cerrar</button>
	</div>
</div>