<div ng-controller="SecretaryshipController as secretaryshipController" class="row panel panel-warning">
   <div class = "panel-heading menu-gra">
      <h1 class = "panel-title">Lista de Usuarios - Responsables de Secretaría</h1>
   </div>
   
   <div class = "panel-body">
	   	<div>
				<button type="button" class="add-button btn grad-green btn-xm" ng-click="secretaryshipController.OpenModal('add')">Nuevo Usuario</button>
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>						
				<input class="form-control" placeholder="Búsqueda Personalizada" ng-model="secretaryshipController.filtered">
			</div>
			<br>
			<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in secretaryshipController.alerts" type="{{alert.type}}" close="secretaryshipController.closeAlert($index)">{{alert.msg}}</uib-alert>
			<br>
			<table class="table table-condensed table-hover">
		    <thead>
		      <tr>
		        <th>DNI</th>
		        <th>Apellido y Nombre</th>
		        <th>Email</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="us in secretaryshipController.users | filter:secretaryshipController.filtered" ng-class="{'row-record-disabled': (us.status=='0')}">
		        <td>{{us.dni}}</td>
		        <td>{{us.lastname}} {{us.name}}</td>
		        <td>{{us.email}}</td>
		        <td>
			        <div class="btn-group" uib-dropdown>
					      <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green" uib-dropdown-toggle>
					      Acciones<span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a ng-click="secretaryshipController.OpenModal('edit', us.id)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Editar</a></li>
					        <li role="menuitem" ng-if="us.status=='1'"><a ng-click="secretaryshipController.OpenModal('drop', us.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Dar de Baja</a></li>
					        <li role="menuitem" ng-if="us.status=='0'"><a ng-click="secretaryshipController.EnableUser(us)"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Habilitar</a></li>
					        <li class="divider"></li>
					        <li role="menuitem"><a ng-click="secretaryshipController.OpenModal('softdrop', us.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
					      </ul>
					    </div>
		        </td>
		      </tr>
		      <tr ng-if="secretaryshipController.users.length === 0">
		        <td colspan="4">No posee Usuarios cargados</td>
		      </tr>
		    </tbody>
		  </table>
   </div>
</div>