<div >
	<div class="modal-header">
	  <h3 class="modal-title">{{title}} Usuario</h3>
	</div>
	<div class="modal-body modal-body-fix">
	  <form role="form" name="userForm" novalidate>
	  	<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>DNI</label>
					<input required type="text" class="form-control" ng-model="dni" name="dni">
					<div ng-messages="userForm.dni.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Nombre</label>
					<input required type="text" class="form-control" ng-model="name" name="name">
					<div ng-messages="userForm.name.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>Apellido</label>
					<input required type="text" class="form-control" ng-model="lastname" name="lastname">
					<div ng-messages="userForm.lastname.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error': hasError}">
					<label>E-mail</label>
					<input required type="email" class="form-control" ng-model="email" name="email">
					<div ng-messages="userForm.email.$error" style="color:maroon" role="alert">
				    <div ng-message="required">Campo requerido.</div>
				    <div ng-message="email">Ingrese un email válido.</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': hasError}" ng-repeat="uc in arraySelectedProfiles">
					<label>Perfil</label><br>
					<select ng-disabled="(uc.cod==='GR_SECRE') && action!='edit'" class="form-control form-control-select-fix" ng-model="uc.cod" name="select">
						<option value="">-- Seleccionar --</option>
						<option ng-repeat="pr in profiles" value="{{pr.cod}}">{{pr.description}}</option>
					</select>
					<button class="btn btn-primary btn-xs" type="button" ng-click="AddProfile()">+</button>
					<button ng-if="arraySelectedProfiles.length > 1" class="btn btn-danger btn-xs" type="button" ng-click="DeleteProfile($index)">-</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-12">
		<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary" type="button" ng-click="Add(userForm)">Guardar</button>
	  <button class="btn btn-warning" type="button" ng-click="Cancel()">Cerrar</button>
	</div>
</div>