<div ng-controller="StudentsController as studentsController" class="row panel panel-warning">
   <div class = "panel-heading menu-gra">
      <h1 class = "panel-title">Lista de Usuarios - Alumnos</h1>
   </div>
   
   <div class = "panel-body">
	   	<div>
				<button type="button" class="add-button btn grad-green btn-xm" ng-click="studentsController.OpenModal('add')">Nuevo Alumno</button>
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>						
				<input class="form-control" placeholder="Búsqueda Personalizada" ng-model="studentsController.filteredStudent">
			</div>
			<br>
			<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in studentsController.alerts" type="{{alert.type}}" close="studentsController.closeAlert($index)">{{alert.msg}}</uib-alert>
			<br>
			<table class="table table-condensed table-hover">
		    <thead>
		      <tr>
		        <th>N. Expediente</th>
		        <th>DNI</th>
		        <th>Apellido y Nombre</th>
		        <th class="col-md-4">Carrera</th>
		        <th>Registro</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="st in studentsController.users | filter:studentsController.filteredStudent" ng-class="{'row-record-disabled': (st.status=='0')}">
		        <td>{{st.expedient}}</td>
		        <td>{{st.dni}}</td>
		        <td>{{st.lastname}} {{st.name}}</td>
		        <td class="col-md-4">{{st.crdescription}}</td>
		        <th ng-if="st.expedient!=null&&st.crdescription!=''">Completo</th>
		        <th ng-if="st.expedient==null||st.crdescription==''">Incompleto</th>
		        <td>
		        	<div class="btn-group" uib-dropdown>
					      <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green" uib-dropdown-toggle>
					      Acciones<span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a ng-click="studentsController.OpenModal('edit', st.id)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Editar</a></li>
					        <li role="menuitem" ng-if="st.status=='1'"><a ng-click="studentsController.OpenModal('drop', st.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Dar de Baja</a></li>
					        <li role="menuitem" ng-if="st.status=='0'"><a ng-click="studentsController.EnableUser(st)"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Habilitar</a></li>
					        <li class="divider"></li>
					        <li role="menuitem"><a ng-click="studentsController.OpenModal('softdrop', st.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
					      </ul>
					    </div>
		        </td>
		      </tr>
		      <tr ng-if="studentsController.users.length === 0">
		        <td colspan="6">No posee Usuarios cargados</td>
		      </tr>
		    </tbody>
		  </table>
   </div>
</div>