<div ng-controller="ConfResolutionController as confResolController" class="row panel panel-warning">
   <div class = "panel-heading menu-gra">
      <h1 class = "panel-title">Tipo de Resoluciones</h1>
   </div>
   
   <div class = "panel-body">
	   	<div>
	   		<button type="button" class="add-button btn grad-green btn-xm" ng-click="confResolController.OpenModal('add')">Nuevo Registro</button>
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>						
				<input class="form-control" placeholder="Búsqueda Personalizada" ng-model="confResolController.filtered">
			</div>
			<br>
			<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in confResolController.alerts" type="{{alert.type}}" close="confResolController.closeAlert($index)">{{alert.msg}}</uib-alert>
			<br>
			<table class="table table-condensed table-hover">
		    <thead>
		      <tr>
		        <th>Tipo de Resolución</th>
		        <th>Area</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="res in confResolController.resolutions | filter:confResolController.filtered">
		        <td>{{res.description}}</td>
		        <td>{{res.area.description}}</td>
		        <td>
		        	<div class="btn-group" uib-dropdown>
					      <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green dropdown-toggle" uib-dropdown-toggle>
					      Acciones<span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a ng-click="confResolController.OpenModal('edit',res.id)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Editar</a></li>
					        <li class="divider"></li>
					        <li role="menuitem"><a ng-click="confResolController.OpenModal('drop',res.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
					      </ul>
					    </div>
		        </td>
		      </tr>
		    </tbody>
		  </table>
   </div>
</div>