<div class="container-fluid" >
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul style="list-style-type:circle">
				  <li>Ingrese su Email para recibir un correo electronico y recuperar su cuenta.</li>
				</ul>  
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row">
				<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in home.alerts" type="{{alert.type}}" close="home.closeAlert($index)">{{alert.msg}}</uib-alert>
				<div class="login-panel panel panel-default">
					<div class="grad-red panel-heading">Recuperar cuenta de SAR</div>
					<div class="panel-body">
						<form name="forgotPassForm" role="form" novalidate>
							<fieldset>
								<label>Email:</label>
								<div ng-class="{'has-error': home.hasError}" class="form-group">
									<input required class="form-control" name="dni" type="email" autofocus="" ng-model="home.email">
									<div ng-messages="forgotPassForm.dni.$error" style="color:maroon" role="alert">
								    <div ng-message="required">Campo requerido.</div>
								    <div ng-message="email">No posee el formato de email.</div>
								  </div>
								</div>
								<button class="grad-red btn" ng-click="home.ForgotPassword(forgotPassForm, 'admin')">Enviar Email</button>
							</fieldset>
						</form>
					</div>
				</div>
		</div><!-- /.row -->
	</div>
</div>