<div class="container" >
		<h4 class="help-center"><strong>AYUDA</strong></h4>

El sistema SAR (Sistema de Autogestión de Resoluciones) es un sistema informático Web cuyo objetivo principal es mantener actualizada una base de datos (repositorio) de todas las resoluciones vinculadas con la Secretaria de Posgrado, con las Carreras de Posgrado y fundamentalmente con los alumnos.
<br>
<br>
Este sistema permite cuatro tipos de usuarios:
<br>
<br>
<ol>
  <li>
  	<strong>Administrador:</strong> tiene la posibilidad de crear usuarios y habilitarlos, cargar, modificar o eliminar los distintos tipos de resoluciones, generar reportes, etc. Este usuario es el encargado del mantenimiento general del Sistema.
  </li>
  <li>
  	<strong>Director de Carrera:</strong> solo podrá acceder a las Resoluciones vinculadas con su Carrera.
  	</li>
  <li>
  	<strong>Personal Administrativo de la secretaria:</strong> este usuario podrá cargar, modificar o eliminar resoluciones vinculadas tanto a la Secretaria de Posgrado, a las Carreras de Posgrado y a los alumnos.
  </li>
  <li>
  	<strong>Alumnos:</strong> podrá acceder únicamente a las Resoluciones vinculadas a su legajo.
  </li>
</ol>
<br>
Cuando Ud. ingrese a la Dirección del SAR, le aparecerá la siguiente pantalla:
<br>
<br>
<div class="help-center" ><img style="width: 80%;" src="frontend/app/images/menuinicio.PNG"/></div>
<br>
<br>
Para poder ingresar deberá acceder a alguna de las opciones que aparecen en el Menú Principal, que representan los dos grandes módulos de este sistema:
<br>
<br>
<strong>Posgrado:</strong> Si su usuario está vinculado con la secretaria para realizar tareas administrativas, o si es Director de Carrera o es el administrador, deberá seleccionar esta opción.
<br>
<strong>Alumnos:</strong> Si Ud. ya tiene habilitado un usuario como alumno, deberá ingresar a esta opción.
<br>
<br>
Nota: Si Ud. se posiciona sobre los botones que están a la derecha del Banner, estos simplemente

le permitirán acceder a una leyenda explicativa de cada uno de los dos módulos (Posgrado y

Alumnos).
<br>
<br>
Para poder loguearse en el Sistema, Ud. deberá contar con un <strong>usuario habilitado</strong>. Para ello, personal de la Secretaria de Posgrado, realizará la creación del usuario y la habilitación del mismo.
<br>
<br>
Cuando su usuario sea habilitado por Posgrado, recibirá en su casilla de correo electrónico un mail con las siguientes características:
<br>
<br>
<div class="help-center" ><img style="width: 80%;" src="frontend/app/images/enviomail.PNG"/></div>
<br>
<br>
En el mail se le indica que para terminar la habilitación de su usuario, Ud. debe ingresar a un link que aparece en el cuerpo del mail. Cuando lo haga, le aparecerá una pantalla similar a la siguiente:
<br>
<br>
<div class="help-center" ><img style="width: 80%;" src="frontend/app/images/resetpass.PNG"/></div>
<br>
<br>
En este caso, el sistema le pide que ingrese nueva contraseña. Respete las indicaciones de conformación de contraseña: La longitud no puede ser menor a 6 caracteres; debe tener al menos una letra mayúscula, una letra minúscula y debe contener al menos un numero o carácter especial.
<br>
<br>
Una vez que haya realizado este cambio, le aparecerá la pantalla presentación del SAR, donde Ud. deberá elegir uno de los dos módulos del menú principal e ingresar con su nombre de usuario (DNI) y con la contraseña que acaba de asignar.
<br>
<br>
<div class="help-center" ><img style="width: 80%;" src="frontend/app/images/login.PNG"/></div>
<br>
<br>
Una vez que coloque los datos solicitados, deberá seleccionar el botón Iniciar Sesión.
<br>
<br>
<br>
<br>
<br>
<br>
</div>