<div class="container-fluid" >
<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in home.alerts" type="{{alert.type}}" close="home.closeAlert($index)">{{alert.msg}}</uib-alert>
	<div class="col-xs-7">
		<section ng-if="!tsecret && !tstudent" class="caoursel-style">
			<div class="custom-ng-carousel" ng-carousel ng-carousel-name="carouselSAR" ng-carousel-timer="3000">
				<slidecontainer>
					<slide><img class="image-home-div-float" src="frontend/app/images/carousel1.jpg"></slide>
					<slide><img class="image-home-div-float" src="frontend/app/images/SAR1.jpg"></slide>
					<slide><img class="image-home-div-float" src="frontend/app/images/carousel2.jpg"></slide>
					<slide><img class="image-home-div-float" src="frontend/app/images/SAR4.jpg"></slide>
				</slidecontainer>
				<div class="carousel-arrow carousel-arrow-left">
					<button class="button-nav" ng-click="home.carousel.get('carouselSAR').previous()"><</button>
				</div>
				<div class="carousel-arrow carousel-arrow-right">
					<button class="button-nav" ng-click="home.carousel.get('carouselSAR').next()">></button>
				</div>
			</div>
		</section>
		<div ng-if="tsecret" class="option-content panel panel-default">
			<div  class="grad-red panel-body">
				<strong>Posgrado:</strong> acceda a las opciones habilitadas para el administrador del sistema, personal administrativo de posgrado y directores de carrera de posgrado
			</div>
			<img class="image-home-div-float" src="frontend/app/images/posgrado.jpg">
		</div>
		<div ng-if="tstudent" class="option-content panel panel-default">
			<div class="grad-green panel-body">
				<strong>Alumnos:</strong> si es alumno de alguna carrera de posgrado de la FCSNAT, acceda a consultar las resoluciones vinculadas a su legajo.
			</div>
			<img class="image-home-div-float" src="frontend/app/images/alumnos.jpg">
		</div>
	</div>
	<div class="col-xs-4">
		<div class="row">
	    <button class="btn btn-block" ng-class="{'grad-red': tsecret}" ng-mouseover="tsecret=true" ng-mouseleave="tsecret=false">Posgrado</button>
	  </div>
	  <br><br>
	  <div class="row">
	    <button class="btn btn-block" ng-class="{'grad-green': tstudent}" ng-mouseover="tstudent=true" ng-mouseleave="tstudent=false">Alumnos</button>
	  </div>
	  <div class="row">
	  	<img class="image-home-div-float mark-water" src="frontend/app/images/LogoPosgradoCsNatRojo.png">
	  </div>
	</div>
</div>