<div class="container-fluid" >
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<div class="row">
				<div class="login-panel panel panel-default" ng-controller="ResetPassController as reset">
					<div class="grad-red panel-heading">Nueva Contraseña</div>
					<div class="panel-body">
						<form name="resetPassForm" role="form" novalidate>
							<fieldset>
								<label>Contraseña:</label>
								<div class="form-group" ng-class="{'has-error': reset.hasError}">
									<input required class="form-control" placeholder="Nueva contraseña" name="password" type="password" ng-model="reset.password" >
									<div ng-messages="resetPassForm.password.$error" style="color:maroon" role="alert">
								    <div ng-message="required">Campo requerido.</div>
								  </div>
								</div>
								<label>Repetir contraseña:</label>
								<div ng-class="{'has-error': reset.hasError}" class="form-group">
									<input required class="form-control" placeholder="Repetir contraseña" name="repassword" type="password" ng-model="reset.repassword">
									<div ng-messages="resetPassForm.repassword.$error" style="color:maroon" role="alert">
								    <div ng-message="required">Campo requerido.</div>
								  </div>
								</div>
								<div class="alert alert-danger" role="alert" ng-if="reset.error!==undefined&&reset.error!==''">{{reset.error}}</div>
								<button class="btn grad-red" ng-click="reset.Submit(resetPassForm, home.resetPassword)">Confirmar</button>
							</fieldset>
						</form>
					</div>
				</div>
		</div><!-- /.row -->
	</div>
	<div class="col-xs-3">
	</div>
</div>