<div class="container-fluid" >
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul style="list-style-type:circle">
				  <li>Consultas sobre resoluciones cargadas</li>
				</ul>  
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row" ng-controller="LoginController as loginController">
			
				<div class="login-panel panel panel-default">
					<div class="panel-heading grad-green">Acceder al SAR</div>
					<div class="panel-body">
						<form name="loginForm" role="form" novalidate>
							<fieldset>
								<label>Usuario (DNI):</label>
								<div ng-class="{'has-error': loginController.hasError}" class="form-group">
									<input required class="form-control" placeholder="DNI" name="dni" type="text" autofocus="" ng-model="loginController.dni">
									<div ng-messages="loginForm.dni.$error" style="color:maroon" role="alert">
								    <div ng-message="required">Campo requerido.</div>
								  </div>
								</div>
								<label>Contraseña:</label>
								<div ng-class="{'has-error': loginController.hasError}" class="form-group">
									<input required class="form-control" placeholder="Contraseña" name="password" type="password" value="" ng-model="loginController.password">
									<div ng-messages="loginForm.password.$error" style="color:maroon" role="alert">
								    <div ng-message="required">Campo requerido.</div>
								  </div>
								</div>
								<div class="alert alert-danger" role="alert" ng-if="loginController.error!==undefined&&loginController.error!==''">{{loginController.error}}</div>
								<button class="btn grad-green" ng-click="loginController.Login(loginForm, 'student')">Iniciar sesión</button><button ng-click="home.ChangePartial('forgotPass')" class="btn-link">¿Olvidó su contraseña?</button>
							</fieldset>
						</form>
					</div>
				</div>
			
		</div><!-- /.row -->
	</div>
</div>