<div >
	<div class="modal-header">
	  <h3 class="modal-title">{{title}} Tipo de Resolución</h3>
	</div>
	<div class="modal-body">
	  <form role="form" name="tresolutionForm" novalidate>						
			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Nombre</label>
				<input required type="text" class="form-control" ng-model="description" name="description">
				<div ng-messages="tresolutionForm.description.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Area</label>
				<select name="select" required class="form-control" ng-model="area">
					<option value="">-- Seleccionar --</option>
					<option ng-repeat="tp in areas" value="{{tp.id}}">{{tp.description}}</option>
				</select>
				<div ng-messages="tresolutionForm.select.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary" type="button" ng-click="Add(tresolutionForm)">Guardar</button>
	  <button class="btn btn-warning" type="button" ng-click="Cancel()">Cerrar</button>
	</div>
</div>