<div class = "panel-heading menu-gra">
  <h1 class = "panel-title">Lista de Alumnos</h1>
</div>

<div class = "panel-body">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Buscar</span>           
    <input class="form-control" placeholder="Búsqueda Personalizada" ng-model="studentsResController.filteredStudent">
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>N. Expediente</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="st in studentsResController.students | filter:studentsResController.filteredStudent">
        <td>{{st.expedient}}</td>
        <td>{{st.name}}</td>
        <td>{{st.lastname}}</td>
        <td>
          <button type="button" class="btn grad-green btn-xs" ng-click="studentsResController.GetResolution(st)">Ver Resoluciones</button>
        </td>
      </tr>
      <tr ng-if="studentsResController.students.length === 0">
        <td colspan="4">No posee Usuarios cargados</td>
      </tr>
    </tbody>
  </table>
</div>