<div class="panel-heading menu-gra">
  <h2 class = "panel-title">Alumno: {{studentsResController.currentStudent.lastname}} {{studentsResController.currentStudent.name}} - Número de Expediente: {{studentsResController.currentStudent.expedient}} - DNI: {{studentsResController.currentStudent.dni}} - Email: {{studentsResController.currentStudent.email}} - Carrera: {{studentsResController.currentStudent.crdescription}}</h2>
</div>

<div class = "panel-body">
  <div>
    <button ng-if="studentsResController.showBtnNotfAddRes" type="button" class="add-button btn grad-green btn-xm" ng-click="studentsResController.OpenModal('add')">Agregar Resolución</button>
    <button ng-if="studentsResController.showBtnNotfAddRes" type="button" class="add-button btn btn-xm grad-red" ng-click="studentsResController.Notification()">Notificar a Usuario</button>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Buscar</span>
    <input class="form-control" placeholder="Búsqueda Personalizada" ng-model="studentsResController.filteredResolution">
  </div>
  <br>
  <uib-alert dismiss-on-timeout="10000" ng-repeat="alert in studentsResController.alerts" type="{{alert.type}}" close="studentsResController.closeAlert($index)">{{alert.msg}}</uib-alert>
  <br>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>N. Resolución</th>
        <th>T. Resolucion</th>
        <th>Fecha</th>
        <th>Observaciones</th>
        <th ng-if="studentsResController.showBtnActions">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="res in studentsResController.resolutions | filter:studentsResController.filteredResolution | orderBy:'-resolution.dateresolution'">
        <td>{{res.resolution.nresolution}}</td>
        <td>{{res.resolution.tresolution.description}}</td>
        <td>{{res.resolution.dateresolution}}</td>
        <td>{{res.resolution.description}}</td>
        <td ng-if="studentsResController.showBtnActions">
          <div ng-if="!studentsResController.isStud" class="btn-group" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green" uib-dropdown-toggle>
            Acciones<span class="caret"></span>
            </button>
            <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a target="_self" href="api/download/{{res.resolution.filepath}}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>Descarga</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a ng-click="studentsResController.OpenModal('drop', res.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
            </ul>
          </div>
          <a ng-if="studentsResController.isStud" target="_self" href="api/download/{{res.resolution.filepath}}" class="btn grad-green btn-xs">Descarga</a>
        </td>
      </tr>
      <tr ng-if="studentsResController.resolutions.length === 0">
        <td ng-if="studentsResController.showBtnActions" colspan="5">No posee Resoluciones cargadas</td>
        <td ng-if="!studentsResController.showBtnActions" colspan="4">No posee Resoluciones cargadas</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <button ng-if="studentsResController.showBtnBack" type="button" class="btn btn-xm" ng-click="studentsResController.GoBack('main')">
Volver</button>
  </div>
</div>