<div ng-controller="SidebarController as sidebarController">	
	<nav class="navbar navbar-default navbar-fixed-top menu-gra">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	      <a class="navbar-brand" href="#/dashboard" data-toggle="tooltip" data-placement="bottom" title="Inicio"><img src="frontend/app/images/band.png"/></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li ng-if="sidebarController.IsAdmin() || sidebarController.IsSecre()" class="dropdown">
	          <a class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <!--<li ng-if="sidebarController.IsAdmin()"><a ng-click="sidebarController.ChangeLocation('/profiles-conf','Perfiles')">Perfiles</a></li>-->
	            <li ng-if="sidebarController.IsAdmin()"><a ng-click="sidebarController.ChangeLocation('/careers-conf','Carreras')">Carreras</a></li>
	            <li ng-if="sidebarController.IsAdmin()"><a ng-click="sidebarController.ChangeLocation('/resolutions-conf','Tipo de Resoluciones')">Tipo de Resoluciones</a></li>
	          	<li class="dropdown-submenu" ng-if="sidebarController.IsAdmin() || sidebarController.IsSecre()">
                <a class="dropdown-toggle" data-toggle="dropdown">Adm. de Usuarios</a>
                <ul class="dropdown-menu">
                  <li ng-if="sidebarController.IsAdmin()"><a ng-click="sidebarController.ChangeLocation('/secretaryship-user','Usuarios de Secretaria')">Usuarios de Secretaría</a></li>
			            <li ng-if="sidebarController.IsAdmin()"><a ng-click="sidebarController.ChangeLocation('/careers-user','Usuarios de Carreras')">Usuarios de Carreras</a></li>
			            <li ng-if="sidebarController.IsAdmin() || sidebarController.IsSecre()"><a ng-click="sidebarController.ChangeLocation('/students-user','Usuarios de Alumnos')">Usuarios de Alumnos</a></li>
                </ul>
              </li>
	          </ul>
	        </li>
	        <li class="dropdown" ng-if="(!sidebarController.IsStud() || sidebarController.IsSecre() || sidebarController.IsDirect())">
	          <a class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion de Resoluciones<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li ng-if="sidebarController.IsAdmin() || sidebarController.IsSecre()">
	            	<a ng-click="sidebarController.ChangeLocation('/secretaryship-res','Res. de Secretaria')">Res. de Secretaría</a>
	            </li>
	            <li ng-if="sidebarController.IsAdmin() || sidebarController.IsDirect() || sidebarController.IsSecre()">
	            	<a ng-click="sidebarController.ChangeLocation('/careers-res','Res. de Carreras')">Res. de Carreras</a>
	            </li>
	            <li ng-if="sidebarController.IsAdmin() || sidebarController.IsSecre() || sidebarController.IsDirect()">
	            	<a ng-click="sidebarController.ChangeLocation('/students-res','Res. de Alumnos')">Res. de Alumnos</a>
	            </li>
	          </ul>
	        </li>
	        <li class="dropdown" ng-if="sidebarController.IsAdmin()">
	          <a class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li>
	            	<a ng-click="sidebarController.ChangeLocation('/reports','Generador de Reportes')">Generador de Reportes</a>
	            </li>
	          </ul>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{sidebarController.GetName()}} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a ng-click="sidebarController.Logout()">Salir</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	

	
</div>