<div ng-controller="CareerController as careerController" class="row panel panel-warning">
   <div class = "panel-heading menu-gra">
      <h1 class = "panel-title">Lista de Carreras</h1>
   </div>
   
   <div class = "panel-body">
	   	<div>
				<button type="button" class="add-button btn grad-green btn-xm" ng-click="careerController.OpenModal('add')">Nuevo Registro</button>
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>						
				<input class="form-control" placeholder="Búsqueda Personalizada" ng-model="careerController.filtered">
			</div>
			<br>
			<uib-alert dismiss-on-timeout="10000" ng-repeat="alert in careerController.alerts" type="{{alert.type}}" close="careerController.closeAlert($index)">{{alert.msg}}</uib-alert>
			<br>
      <table class="table table-condensed table-hover">
		    <thead>
		      <tr>
		        <th>Descripción</th>
		        <th>Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="pr in careerController.careers | filter:careerController.filtered">
		        <td>{{pr.description}}</td>
		        <td>
		        	<div class="btn-group" uib-dropdown>
					      <button id="single-button" type="button" class="btn btn-dropdown-sar grad-green" uib-dropdown-toggle>
					      Acciones<span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu ddl-action" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					        <li role="menuitem"><a ng-click="careerController.OpenModal('edit', pr.id)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Editar</a></li>
					        <li class="divider"></li>
					        <li role="menuitem"><a ng-click="careerController.OpenModal('drop', pr.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Eliminar</a></li>
					      </ul>
					    </div>
		        </td>
		      </tr>
		    </tbody>
		  </table>
   </div>
</div>