<div >
	<div class="modal-header">
	  <h3 class="modal-title">{{title}} Carrera</h3>
	</div>
	<div class="modal-body">
	  <form role="form" name="careerForm" novalidate>						
			<div class="form-group" ng-class="{'has-error': hasError}">
				<label>Nombre</label>
				<input required type="text" class="form-control" name="description" ng-model="description">
				<div ng-messages="careerForm.description.$error" style="color:maroon" role="alert">
			    <div ng-message="required">Campo requerido.</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary" type="button" ng-click="Add(careerForm)">Guardar</button>
	  <button class="btn btn-warning" type="button" ng-click="Cancel()">Cerrar</button>
	</div>
</div>