<div ng-controller="CareerResController as careerResController">
	<div class="row">
		<div class="col-lg-12">
			<div ng-switch="careerResController.page">
				<div ng-switch-when="main">
					<div  class="row panel panel-warning" ng-include="'frontend/app/views/careers-res/partial/list.html'"></div>
				</div>
				<div ng-switch-when="resolutions">
					<div  class="row panel panel-warning" ng-include="'frontend/app/views/careers-res/partial/resolutions.html'"></div>
				</div>
			</div>
		</div>
	</div><!--/.row-->	
</div>