<div class="row">
	<div class="col-lg-12">
		<div class="alert bg-warning" role="alert">
			<svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg>Esta página se encuentra en construcción.
		</div>
	</div>
</div><!--/.row-->		