<div >
	<div class="modal-header">
	  <h3 class="modal-title">¿Desea eliminar el registro?</h3>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary" type="button" ng-click="Ok()">Si</button>
	  <button class="btn btn-warning" type="button" ng-click="Cancel()">Cerrar</button>
	</div>
</div>